* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    background-image: url(running.jpg);
    background-size: cover;
}

.app-body {
    height: 600px;
    width: 500px;
    padding: 10px;
    border: 5px solid white;
    border-radius: 5px;
    box-shadow: inset -3px 100px 73px 5px rgba(0, 0, 10, 0.45);

}

h1 {
    margin-top: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.time-area h3 {
    width: 30%;
    margin: auto;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

.distance-area h3 {
    width: 30%;
    margin: auto;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

.time-area {
    margin-top: 20px;
}

.time-inputs {
    display: flex;
    justify-content: center;

}

.time-area input {
    width: 90px;
    height: 40px;
    margin: 10px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

.time-area input:hover {
    background-color: #eeeee4;
}

.distance-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.distance-input {
    width: 90px;
    height: 40px;
    margin: 10px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s;
}

.distance-input:hover {
    background-color: #eeeee4;
}

.btn {
    display: flex;
    justify-content: center;
}

.calculate {

    width: 120px;
    height: 40px;
    margin: 50px;
    text-transform: uppercase;
    text-align: center;
    background-color: #007172;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;

}

.calculate:hover {
    background-color: #fff;
    color: #007172;

}

.result-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.result-section p {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    border: 1px solid none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);

}

.pace,
.speed {
    color: #007172;
}



@media (max-width: 480px) {
    .app-body {
        border: none;
    }
}